<div class="container">
  <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)" novalidate>
    <h2 class="form-header">Login</h2>
    <mat-error *ngIf="false">
      The username and password were not recognized
    </mat-error>
    <mat-form-field appearance="outline">
      <input matInput type="text" placeholder="Username" name="username" [(ngModel)]="userName" autocomplete="off"
        #userNameCtrl="ngModel" required>
      <mat-error *ngIf="!userNameCtrl.valid">
        Please provide a valid email
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type="password" placeholder="Password*" [(ngModel)]="password" name="password"
        #passwordCtrl="ngModel" required>
      <mat-error *ngIf="!passwordCtrl.valid">
        Please provide a valid password
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
    Don't have an account?<a href="/signup"> Sign Up </a>
  </form>
</div>