<div class="container">
  <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)" novalidate class="signin-form">
    <h2 class="form-header">Login</h2>
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput type="text" name="username" [(ngModel)]="userName" autocomplete="off" #userNameCtrl="ngModel"
        required>
      <mat-error *ngIf="!userNameCtrl.valid">
        Please provide a valid Username
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password" name="password" #passwordCtrl="ngModel"
        required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="!passwordCtrl.valid">
        Please provide a valid password
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="incorrectData" class="invalidMessage">
      Invalid credentials. Try again.
    </mat-error>
    <div class="submit">
      <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Login</button>
    </div>
    <p class="checkAccount">Don't have an account ? <a routerLink="/" (click)="signUp()"> Sign Up </a></p>
  </form>
</div>