.container {   
    padding: 25px;   
    background-color: rgb(252, 247, 247);  
} 

.form-header {
    text-align: center;
    margin-bottom: 30px;
    background-image: linear-gradient(to right, #2361dc, #f01541);
    background-clip: text;
    color: transparent;
}

.submit{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.checkAccount{
    text-align: center;
}

 mat-form-field {
    display: block;
 }
