mat-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;

}

a {
    color: inherit;
}

header a:hover {
    background-color: #0000001a;
    color: #ffa500;
}

.flex-spacer {
    flex-grow: 1;
}