mat-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    color: inherit;
    font-size: 16px;
}

/* header a:hover, .active-link {
    background-color: #0000001a;
} */
header .active-link {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

header a:hover {
    background-color: #0000001a;
}

.flex-spacer {
    flex-grow: 1;
}

::ng-deep .mat-toolbar {
    /* background-image: linear-gradient(to right, #2361dc, #f01541) !important; */
    background-image: linear-gradient(to right, #ff5275, #2361dc) !important;
}

.header-logo {
    height: 50px;
}

.profile {
    font-size: 16px;
    text-transform: capitalize;
}

.profile mat-icon {
    padding-top: 2px;
}

.header-title {
    display: inline;
    margin: 0;
    margin-bottom: 1px;
    margin-left: 5px;
}

a {
    margin-right: 1px;
    padding-left: 10px;
    padding-right: 10px;
}

::ng-deep .profile-menu .mat-menu-content {
    padding: 1rem !important;
}

.logout {
    text-align: left;
    font-size: 16px;
}

::ng-deep .doc-header .mat-button-wrapper {
    display: flex;
    align-items: center;
}

.doc-header mat-icon:not(:first-of-type) {
    font-size: 22px;
    align-self: center;
}