.wishlist-wrapper {
    position: absolute;
    /* left: 10%; 
    top: 8%;*/
    width: 90%;
    /* background: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 6%); */
    padding-left: 40px;
    padding-bottom: 40px;
    margin: 10px 0px 36px 28px;
}

.first {
    background: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 6%);
    padding-bottom: 20px;
    padding-left: 11%;
}

.second {
    background: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 6%);
    padding-bottom: 20px;
    padding-top: 17px;
    margin-top: 10px;
    padding-left: 11%;
}

.page-header{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    color: transparent;
    font-weight: 600;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #ff5275, #2361dc) !important;
}

button {   
     background-color: #2f2fe1;   
     /* width: 10%;   */
     color: white;   
     /* padding: 15px;    */
     height: 36px;
     margin: 0px 11px;   
     border: none;   
     cursor: pointer;   
     margin-right: 60px;
}   

.fav-icon{
    background-color: white !important;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}

table {
    width: 90%;
    /* margin-top: 35px; */
}

.table-header{
    /* //background-color: #912fe1; */
    color: #fff;
    background-image: linear-gradient(to right, #ff5275, #2361dc) !important;
}

.table-row{
    height: 61px;
}

.header {
    margin-top: 10px;
    margin-bottom: 0px;
}

.image { 
    width: 45px;
    height: 45px;
}

.dropdown{
    width: 25%;
    margin-right: 515px;
}

.paginator{
    margin-right: 78px;
    background: none !important;
}

.noProduct {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.mat-header-cell {
    color: #fff;
}

/* ::ng-deep
.mat-paginator-container{
    width: 75% !important;
} */

/* ::ng-deep
.mat-select-value{
    margin-bottom: 17px;
} */

/* .dropdown-select
 :mat-select-value{
    margin-bottom: 17px;
} */
