.wishlist-wrapper {
    position: absolute;
    /* left: 10%; 
    top: 8%;*/
    width: 90%;
    background: #fff;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 6%);
    padding-left: 40px;
    padding-bottom: 40px;
    margin: 29px 0px 36px 69px;
}

.page-header{
    text-align: center;
    text-align: center;
    margin-top: 24px;
    font-weight: bolder;
    margin-right: 258px;
    color: crimson;
}

button {   
     background-color: #2f2fe1;   
     /* width: 10%;   */
     color: white;   
     /* padding: 15px;    */
     height: 36px;
     margin: 0px 11px;   
     border: none;   
     cursor: pointer;   
     margin-right: 100px;
}   

.fav-icon{
    background-color: white !important;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}

table {
    width: 74%;
    margin-top: 35px;
}

.table-header{
    background-color: #912fe1;
    color: #fff;
}

.header {
    margin-top: 10px;
    margin-bottom: 0px;
}

.image { 
    width: 30px;
    height: 30px;
}

.dropdown{
    width: 25%;
    margin-right: 425px;
}

.mat-header-cell {
    color: #fff;
}

::ng-deep
.mat-paginator-container{
    width: 75% !important;
}


