.cart-wrapper {
    /* position: absolute;
    left: 10%; */
    margin-left: 13px;
    top: 15%;
    width: 100%;
}

.main {
    /* //display: flex;
    align-items: center; */
    width: 100%;
}

.first{
    display: flex !important;
    float: left;
    height: 100%;
    width: 97%;
    margin-left: 50px;
}

.second{
    display: flex !important;
    float: left;
    height: 100%;
    width: 20%;
    margin-top: 10px;
}

.main-wrapper{
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.buttons {
   margin-top: 20px;
}

.shop-button {
    margin-right: 50px;
    background-color: #2361dc;
    /* margin-left: 153px; */
}

table {
    width: 95%;
    /* margin-top: 35px; */
}

.header{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: transparent;
    font-weight: 500;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #ff5275, #2361dc) !important;
}

.table-header{
    /* background-color: #912fe1; */
    color: #fff;
    background-image: linear-gradient(to right, #ff5275, #2361dc) !important;
}

.text-center{
    text-align: center;
    margin-left: 51%;
    width: 100px;
    margin-top: 20px;
    background-color: green;
    color: white;
    height: 38px;
    padding-top: 15px;
}

.card {
    height: 60vh;
    margin: 25px;
    padding: 25px;
    box-shadow: none !important;
}

.center{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
}

.center img {
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
}

.card-title{
    text-align: center;
}

.boldText{
    font-weight: bold;
}

.second-card {
    height: 33vh;
    margin: 25px;
    padding: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.checkButton{
    /* height: 40px; */
    float: right;
    /* //margin-top: 40%; */
    margin-right: 63px;
    background-color: green;
}

.totalAmount{
    font-weight: bold;
    margin-bottom: 0px;
}

.paginator{
    margin-right: 37px;
    background: none !important;
}

.mat-column-quantity{
   width: 90px !important;
}

.mat-column-price{
    width: 80px;
}

.mat-header-cell {
    color: #fff;
}

/* .total{
    width: ;
} */

.counter{
    width: 40px;
}

