<section class="products">
    <div class="product-filters">
        <div class="filters-header">
            <h2 class="headerText">Filters</h2>
            <a mat-button class="clear" (click)="onFiltersReset()">Clear All</a>
        </div>
        <div class="filters-categories">
            <p>CATEGORIES</p>
            <div class="categories-list">
                <a mat-button [id]='idx' *ngFor="let category of categories | sortBy:'';let idx = index"
                    (click)="onCategoryClick(idx, catg)" #catg>{{category}}</a>
            </div>
        </div>
        <div class="filters-ratings">
            <p>RATINGS</p>
            <div class="ratings-list">
                <ng-container *ngFor="let ratings of ratingsArr">
                    <mat-checkbox #check color="primary" [id]="ratings.id" [name]="ratings.rating"
                        [value]="ratings.rating" [checked]="ratings.checked" (change)="onRatingsFilterChange($event)">
                        {{ratings.rating}}&#9733; & above
                    </mat-checkbox>
                </ng-container>
            </div>
        </div>
        <div class="filters-price">
            <p>PRICE</p>
            <mat-slider color="primary" thumbLabel [displayWith]="formatLabel" tickInterval="1000"
                (change)="updateFilterPrice($event)" step="10" max="990000" [value]="filterPrice">
            </mat-slider>
            <p>Min - 0 and Max - {{filterPrice}}</p>
        </div>
    </div>
    <div class="products-list">
        <div class="sort-products" *ngIf="!!products.length">
            <mat-form-field appearance="outline">
                <mat-label>Sort Price</mat-label>
                <mat-select (selectionChange)="onPriceSortChange($event)">
                    <mat-option value="high">High to Low</mat-option>
                    <mat-option value="low">Low to High</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <ng-container *ngFor="let product of paginationProducts;let index = index">
            <div class="products-details">
                <div class="product-image">
                    <mat-icon fontIcon="favorite_border" [matMenuTriggerFor]="menu" [id]="index"
                        (click)="onWishlistClick(product, index)" #wishlistMenuTrigger></mat-icon>
                    <mat-menu #menu="matMenu">
                        <ng-container *ngFor="let wishlist of wishlists; let idx = index">
                            <div class="wishlist-wrapper">
                                <div class="wishlist-name">
                                    <p>{{wishlist.name}}</p>
                                </div>
                                <div class="wishlist-checkbox">
                                    <mat-checkbox color="primary" [checked]="getCheckedStatus(product, wishlist, index)"
                                        (change)="onWishlistAddDelete($event, wishlist, product, index)">
                                    </mat-checkbox>
                                </div>
                            </div>
                        </ng-container>
                    </mat-menu>
                    <img [src]="product.imagesrc">
                </div>
                <div class="product-detail">
                    <div>
                        <h2>{{product.name}}</h2>
                        <div class="price-wrapper">
                            <p class="price">{{product.price | currency: 'INR':'symbol' : '1.0-0'}}</p>
                            <span
                                [ngClass]="product.rating > 4 ? 'rating rating-high': 'rating rating-low'">{{product.rating}}
                                &#9733;
                            </span>
                        </div>
                        <p>{{product.description}}</p>
                    </div>
                    <div>
                        <button mat-button class="cart" #cart id="cartButton" disabled="false"
                            (click)="onAddToCartProduct(product, cart)">{{getProductCartStatus(product)}}</button>
                        <button mat-button class="buy-now" id="buyButton" #buyNow
                            (click)="onAddToCartProduct(product, buyNow)">BUY NOW</button>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="!products.length">
            <p class="no-products">No Products Available</p>
        </ng-container>
        <div>
            <mat-paginator [length]="products.length" [pageSize]="5" [pageSizeOptions]="[5,10]"
                (page)="onPageChange($event)" [pageIndex]="pageIndex">
            </mat-paginator>
        </div>
    </div>

</section>