/* You can add global styles to this file, and also import other style files */



html, body {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}

.mat-ink-bar {
    display: none;
}

.mat-tab-label {
    background-color: rgb(252, 247, 247) !important;
}

.mat-tab-label-active {
    color: rgb(32, 0, 128);
    background-color: pink !important;
}